# -------------------------------------------------------------------
# REQUIRED: SET THESE VALUES BEFORE APPLYING
# -------------------------------------------------------------------

project_id = ""

target_email_address = ""

artifact_registry_repo = ""

service_name = ""

region = ""